/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  --color-blue: #072c40;
  --color-blue-light: #7c9fb5;
  --color-orange: #e66e49;
  --color-white: #ffffff;
  --content-width: 1200px;
  --my-name: 'Sam John Reid';
  --color-primary: var(--color-orange);
  --color-secondary: var(--color-blue);
  --font-poppins-bold: 'Poppins-Bold';
  --font-poppins-light: 'Poppins-Light';
  --font-poppins-semibold: 'Poppins-SemiBold'; }

@font-face {
  font-family: 'Poppins-Bold';
  src: url("../fonts/poppins-bold.woff2") format("woff2"), url("../fonts/poppins-bold.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: 'Poppins-Light';
  src: url("../fonts/poppins-light.woff2") format("woff2"), url("../fonts/poppins-light.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url("../fonts/poppins-semibold.woff2") format("woff2"), url("../fonts/poppins-semibold.woff") format("woff");
  font-display: swap; }

.header-wrapper {
  background-image: repeating-linear-gradient(270deg, #7c9fb5, #7c9fb5 6px, transparent 6px, transparent 10px, #7c9fb5 10px);
  background-size: 100% 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-color: var(--color-white); }

.header {
  background-image: repeating-linear-gradient(0deg, #7c9fb5, #7c9fb5 6px, transparent 6px, transparent 10px, #7c9fb5 10px), repeating-linear-gradient(180deg, #7c9fb5, #7c9fb5 6px, transparent 6px, transparent 10px, #7c9fb5 10px);
  background-size: 2px 100%, 2px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--content-width);
  padding: 50px; }
  .header__logo {
    color: var(--color-primary);
    font-family: Poppins-Bold;
    font-size: 1.8rem; }
    .header__logo span {
      font-family: var(--font-poppins-light); }
  .header__nav-main {
    display: flex;
    column-gap: 10px;
    font-family: var(--font-poppins-semibold); }
  .header__nav-main-link a {
    background: var(--color-blue-light);
    color: var(--color-white);
    display: inline-block;
    padding: 10px 15px 6px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.5s; }
    .header__nav-main-link a:hover {
      background: var(--color-orange); }
  .header__nav-main-link--active a {
    background: var(--color-orange); }
  .header__nav-aux-link--github svg {
    color: var(--color-blue-light);
    height: 50px;
    width: 50px; }
  .header__nav-aux-link--github:hover svg {
    color: var(--color-orange); }
  .header__nav-aux-link--linkedin svg {
    color: var(--color-blue-light);
    height: 50px;
    width: 50px; }
  .header__nav-aux-link--letterboxd ellipse {
    fill: var(--color-orange); }
  .header__nav-aux-link--email svg {
    color: var(--color-blue-light);
    height: 50px;
    width: 50px; }
  .header__nav-aux {
    display: flex; }

html {
  font-size: 62.5%; }

body {
  background-image: linear-gradient(45deg, transparent 42.86%, 42.86%, #dde0e3 50%, transparent 50%, transparent 92.86%, #dde0e3 92.86%, #dde0e3 100%);
  background-size: 9.90px 9.90px;
  display: flex;
  flex-direction: column;
  font-size: 1.6em;
  height: 100dvh; }

.main-wrapper {
  position: relative; }

.main {
  background-image: repeating-linear-gradient(0deg, #7c9fb5, #7c9fb5 6px, transparent 6px, transparent 10px, #7c9fb5 10px), repeating-linear-gradient(180deg, #7c9fb5, #7c9fb5 6px, transparent 6px, transparent 10px, #7c9fb5 10px);
  background-size: 2px 100%, 2px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  background-color: var(--color-white);
  margin: 0 auto;
  max-width: var(--content-width);
  padding: 50px 50px 650px;
  position: relative; }

.homepage-intro {
  display: flex; }
  .homepage-intro h2 {
    font-family: var(--font-poppins-semibold);
    font-size: 86px; }
    .homepage-intro h2 span {
      color: var(--color-primary);
      font-family: var(--font-poppins-bold); }

.city-skylines {
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100vw; }
  .city-skylines .city-skyline {
    width: 400px; }
    .city-skylines .city-skyline img {
      display: block;
      max-width: 100%; }

.footer {
  background: var(--color-secondary);
  flex-grow: 1; }
  .footer small {
    display: block;
    height: 300px; }
