:root {
    --color-blue: #072c40;
    --color-blue-light: #7c9fb5;
    --color-orange: #e66e49;
    --color-white: #ffffff;
    --content-width: 1200px;
    --my-name: 'Sam John Reid';

    --color-primary: var(--color-orange);
    --color-secondary: var(--color-blue);

	--font-poppins-bold: 'Poppins-Bold';
	--font-poppins-light: 'Poppins-Light';
	--font-poppins-semibold: 'Poppins-SemiBold';
}