@import "reset";
@import "variables";
@import "fonts";
@import "mixins";

html {
    font-size: 62.5%;
}

body {
    @include bg-pattern('#dde0e3');
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

main {
    margin-bottom: 500px;
}

h1 {
    font-size: clamp(2.6rem, calc(4vw + 1rem), 10rem);
    font-family: Poppins-SemiBold;
    margin: 100px 100px 100px 100px;
    color: var(--hi-sab);

    span {
        color: var(--color-orange);
        font-family: Poppins-Bold;
    }
}

.city-skylines {
    display: flex;
    justify-content: center;

    .city-skyline {
        width: 400px;
    
        img {
            display: block;
            max-width: 100%;
        }
    }
}

.footer {
    background: var(--color-blue);
    flex-grow: 1;
}