@import "reset";
@import "variables";
@import "fonts";
@import "mixins";

body {
    @include bg-pattern('#dde0e3');
}

h1 {
    font-size: 100px;
    font-family: Poppins-SemiBold;
    margin: 100px;
    color: var(--hi-sab);

    span {
        color: var(--highlight-color);
        font-family: Poppins-Bold;
    }
}